*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cadetblue;
}

.container{
    display: flex;
    width: 900px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    padding: 45px;
}

.boks{
    margin-top: 190px;
}

img{
    width: 100%;
}

.hangman > img {
    height: 350px;
    width: 350px;
}

.hangman{
    position: relative;
    display: inline-block;
    margin-right: 120px;
}

.hangman img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
}

h2 {
    margin: 20px;
    font-size: 40px;
}

button{
    padding: 10px;
    border: 1px palevioletred solid;
    border-radius: 7px;
}

#gjettetOrd{
    font-size: 40px;
    margin-bottom: 24px;
}
