*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(bilder/europakart.jpg);
    background-size: cover; 
    background-position: center;
}

.container{
    display: flex;
    width: 900px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    padding: 48px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center
}

.overskrift{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.ramme{
    display: flex;
    gap: 29px;
    margin-top: 10px;
}

.boks{
    margin-top: 38px;
}

.tastatur{
    display: grid;
    grid-template-columns: repeat(12, auto);
    margin-top: 41px;
}

.hangman > img {
    height: 350px;
}

.hangman{
    position: relative;
    display: inline-block;
    margin-right: 0px;
    height: 350px;
    width: 350px;
}

.hangman img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
}

.overskrift, .omstart {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 40px;
    color: darkgreen;
}

p{
    font-size: 20px;
    margin-top: 8px;
}

button{
    padding: 10px;
    background-color: white;
    margin: 1px;
}

#gjettetOrd{
    font-size: 40px;
    margin-bottom: 24px;
    margin-top: 10px;
}

.omstart button{
    margin-top: 10px;
    width: 100px;
    color: darkgreen;
    font-size: 16px;
    border-radius:9px ;
    outline: none;
}